@import "global/reset";
@import "global/breakpoints";
@import "global/colors";
@import "global/typography";
@import "global/flexbox";
@import "global/utilities";
@import "components/button";
@import "components/navbar";
@import "components/hero";

.frame-content{
    background: $primary-color;
}
.arrow{
    position: absolute;
    width: 5em;
    left: 43%;
    bottom: 10vh;
}
.feature-article{
    height: 50vh;
    border-radius: 50px;
    border: solid 3px $primary-color;
}
.article{
    height: 22.5vh;
    
}
.column{
    display: flex;
    flex-direction: column;

}

.blog-content{

    img{
    width: 100%;
    height:45vh;
    object-fit: cover;
    padding: 3vh 0;
}
h2{
    padding: 5vh 0;
}
p{
    padding: 1em 0;
}
}
.card-container{
    flex-wrap: wrap;
    justify-content: center;
    div{
        min-width: 25vw;
    
    }
}
.cardOne{
    background: inherit;
}
.cardTwo{
    background: #1B202B;
}

.icon{
    width: 75px;
}
.main-wrap{
    padding: 0 3vw;
    background-color: $background-color;
  
    @include breakpoint(md){ 
        padding: 0 5vw;
    }
    @include breakpoint(lg){ 
        padding: 0 10vw;
    }
   
   
}
.blog-wrap{
    padding: 20vh 0vw;
    background-color: $background-color;
   
  
    @include breakpoint(md){ 
        padding: 20vh 2vw;
    }
    @include breakpoint(lg){ 
        padding: 20vh 3vw;
    }
   
   
}



.button-container{
    margin-top: 4em;
    display: flex;
    p{
        color: white;
        font-size: clamp(33px, 2vw, 50px);
        font-family: $primary-font;
    }
}
