@import "global/reset";
@import "global/breakpoints";
@import "global/colors";
@import "global/typography";
@import "global/flexbox";
@import "global/utilities";
@import "components/button";
@import "components/navbar";
@import "components/hero";

.card-container{
    flex-wrap: wrap;
    justify-content: center;
    div{
        min-width: 25vw;
    
    }
}
.cardOne{
    background: inherit;
}
.cardTwo{
    background: #1B202B;
}
.icon{
    width: 75px;
}
.main-wrap{
    padding: 0 3vw;
    background-color: $background-color;
  
    @include breakpoint(md){ 
        padding: 0 5vw;
    }
    @include breakpoint(lg){ 
        padding: 0 10vw;
    }
   
   
}



.button-container{
    margin-top: 4em;
    display: flex;
    p{
        color: white;
        font-size: clamp(33px, 2vw, 50px);
        font-family: $primary-font;
    }
}
