@import "global/reset";
@import "global/breakpoints";

@import "global/colors";
@import "global/typography";
@import "global/flexbox";
@import "components/navbar";
.gap-1em{
    gap: 1em;
}
.pad-3em{
    padding:  3em;
}
.pad-10{
    padding: 10vh 10vw;
}
.pad-5{
    padding: 5vh 5vw;
}
.v-pad-5{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.h-pad-10{
padding-left: 10vh;
padding-right: 10vh;
}
.v-pad-1{
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.alt-background{
    background: #1B202B;
}


.vertical-padding{
    padding:10vh 0;
}
.card-container{
    flex-wrap: wrap;
    justify-content: center;
    div{
        min-width: 25vw;
    
    }
}
.icon{
    width: 75px;
}
.main-wrap{
    padding: 0 3vw;
    background-color: #020714;
  
    @include breakpoint(md){ 
        padding: 0 5vw;
    }
    @include breakpoint(lg){ 
        padding: 0 10vw;
    }
   
   
}
.center{
    text-align: center;
}
.hero{
    height: 100vh;
    text-align: center;
    background-color: inherit;
   padding-top: 22vh;
    align-items: center;
    @include breakpoint(md){ 
        padding: 7vh 0 0 0 ;
        text-align: left;
    }
   
 
}
.hero-image{
    padding: 0 0 0 5vw;
}

.mobile-hide{
display: none;
@include breakpoint(md){       
   display: block;
}
}
.subheading{
    font-family: $secondary-font;
   
    color: white;
    font-size: clamp(22px, 1.7vw, 40px);
}

.button-container{
    margin-top: 4em;
    display: flex;
    p{
        color: white;
        font-size: clamp(33px, 2vw, 50px);
        font-family: $primary-font;
    }
}
.primary-button{
   background: $primary-color; 
   padding: .75em 2em;
   @include breakpoint(md){
    padding: .75em 3em;
   }
  
    p{
       
        color: white;
        font-family: $primary-font;

       
    }
}